@import '../../variable.module.scss';
.button {
    flex: 1;
    background-color: $white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    &:hover {
      background-color: $buttonHover;
      color: $white;
    }
  }

  .active {
    background-color: $mainColor;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

