$white: #fff;
$buttonHover: rgba(33, 150, 243, 0.5);
$mainColor: rgba(33, 150, 243, 1);

$filterHover: rgba(241, 252, 255, 1);
$shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
$checkBoxShadow: inset 0px 0px 1px 1px $mainColor;

$tabsBorder: 1px solid #dfe5ec;

$priceColor: #007bff;
$titleTicket: rgb(160, 176, 185);
